
/*
Developer: Trevor Johnson

-Table Of Contents-

Header - head title

Center Divs - albums

Back Drop Image

Artist Divs

Footer - copy right, sign up


[[Colors]]
#282C34 - grayish navy blue
#9ef263 - neon green
#FAFAFA - white
#5b0d0d - crimson
#c69191 - light red 
#ac80e5 - Light violent
#7ff9f5 - toothpaste blue 
#000000 - Black
#1c0707 - black Tainted red
*/

.grid{
	background: #000000;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 5% 10% 10% 10% 10% 10% 10% 10% 5% 5% 5% 5% 20%;
		
}
body{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	height: 2000px;
	line-height: 1.5;
	margin: 0;
}
html{font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;}
/*The top of the website stuff ------`Header------ */

header{
	background-color: #1c0707;
	color: #FAFAFA;
	font-size: 5em;
	font-weight: bold;
	grid-row: 2/3;
	grid-column: 2/6;
	text-align: center;
	padding-top: .4em;
	z-index: 1;
}
header p{
	border: 2px solid white;
	bottom: 80px;
	display: inline-block;
	font-size: .3em;
	font-weight: normal;
	position: relative;
	right: 2px;
	width: 100%;
}
/*Middle part of the page element -----`Album divs----- */

div div a span{
	height:100%;
	left: 0;
	position: absolute;
	top:0;
	width:100%;
}

.main{
	background-color: #1c0707;
	grid-row: 5/9;
	grid-column: 2/4;
}

.album{
	background-color: #2d0204;
	border: 2px solid white;
	color: #ccb3b4;
	margin: 5px;
	margin: 0 auto;
	margin-top: 3em;
	position: relative;
	padding: 10px;
	text-align: center;
	vertical-align: center;
	width: 40%;
	word-wrap: break-word;
}
.album img{width: 80%;}

.secondhalf{
	background-color: #1c0707;
	grid-row: 5/9;
	grid-column: 4/6;
}
.protrait{
	background-color: #1c0707;
	color: #FAFAFA;
	font-size: .9em;
	grid-row: 10/12;
	grid-column: 2/4;
	margin-right: 10px;
	overflow: hidden;
	padding: 5px;
}
.protrait span,.protrait2 span{padding: 20px;}
.protrait img{
	float: left;
	height: 90%;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 20px;
	width: 40%;
}
.protrait2 img{
	float: left;
	height: 90%;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 20px;
	width: 40%;
}
.protrait2{
	background-color: #1c0707;
	color: #FAFAFA;
	font-size: 0.9em;
	grid-row: 10/12;
	grid-column: 4/6;
	margin-left: 10px;
	overflow: hidden;
}
.album:hover{background-color: #a02b0b;}
/*The news letter part  ------ `Footer -----*/
footer{
	background-color: #050303;
	color: #FAFAFA;
	grid-column: 1/7;
	grid-row: 13/15;
	padding-bottom: 30px;
	vertical-align: bottom;
}
footer div{
	float: left;
	margin-top: 15em;
	margin-left: 5em;
	width: 40%;
}
footer div a{
	color: #bc6d1e;
	text-decoration: none;
}

.signup{
	border-left: 3px solid white;
	display: inline-block;
	float: right;
	height: 100%;
	padding: 10px;
	width: 40%;
}
.signup input{
	color: #98999b;
	margin: 2em 1em 1em 0;
}
.letter{height: 40px;}

/*simple divs covering the page `*/

.backdrop{
	height: auto;
	position: fixed;
	width: 100%;
	z-index: -1;
}
.topcover{
	background-color: #3a1b1c;
	grid-row: 1/3;
	grid-column: 1/7;
	padding-bottom: 2em;
	z-index: 0;
}

/*second source pages as well as the song pages */
.anchors{
	color: #d1c181;
	text-decoration: none;
}
.anchors:hover{color: #efdc8f;}
.navi{
	background-color: #20374f;
	display: inline-block;
	grid-row: 1/2;
	grid-column: 1/7;
	margin-bottom: 1em;
	padding-top: 2em;
	text-align: center;
	vertical-align: bottom;
}
.navi a{
	color: white;
	border: 2px solid white;
	margin-left: 1em;
	text-decoration: none;
}
.navi a:hover{
	background-color: #365b82;
	border-radius: .3em;
}
.coverdiv{
	background-color: #bc8676;
	grid-row: 2/4;
	grid-column: 3/5;
}

.cover{
	height: 100%;
	width: 100%;
}
.SongList{
	background-color: #20374f;
	color: #FAFAFA;
	grid-row: 5/10;
	grid-column: 2/6;
}
tr, td{
	border: 2px solid white;
	text-align: center;
}
.SongList tr:nth-child(odd){background-color: #2b4968;}

.source{height: 1000px;}

.site{padding-top: 0;}

.bottomdiv{
	background-color: #20374f;
	grid-row: 5/6;
	grid-column: 3/5;
}

@media screen and (min-width: 1708px) {
	.rush img{
		height: 200px;
	}
}